{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "useJSXTextNode": "true"
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": [
      "./tsconfig.json"
    ]
  },
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "prettier",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "react-hooks",
    "jest"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "rules": {
    "import/prefer-default-export": "off",
    "quotes": [
      "error",
      "double"
    ],
    "class-methods-use-this": "off",
    "global-require": 0,
    "newline-before-return": "error",
    "@typescript-eslint/no-var-requires": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-props-no-spreading": 0,
    "react/style-prop-object": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "import/no-import-module-exports": "off",
    "react/require-default-props": "off",
    "@prefer-const": "off",
    "no-param-reassign": "off",
    "padding-line-between-statements": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/padding-line-between-statements": "warn",
    "import/extensions": [
      "off",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  }
}